<% provide(:title, "トップ") %>
<div class="top">
	<%= image_tag("top.jpg") %>
	<div class="txtbox">
		<p class="txt color_01">教えて！みんなの収納術</p>
		<%= link_to(posts_path, class: "enter") do %>
			<p class="entertxt" style="margin: 0;">ENTER</p>
		<% end %>
	</div>
</div>