<% provide(:title, "トップ") %>
<div class="top">
	<%= image_tag("top.jpg") %>
	<div class="txtbox color_01">
		<p class="txt">教えて！みんなの収納術</p>
		<%= link_to(posts_path, class: "enter") do %>
			<p class="entertxt color_01" style="margin: 0;">ENTER</p>
		<% end %>
	</div>
</div>