<% provide(:title, "管理者ログイン") %>
<% breadcrumb :session_admin %>
<div id="sessions_new_admin" class="bg_color01">
  <div class="session-new-admin-inner">
    <h2 class="page-title">管理者ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-items">
        <div class="text-labeled-input">
          <span class="label color_03">ニックネーム</span>
          <%= f.text_field :nickname, autofocus: true, placeholder: "ニックネーム", class: "input" %>
        </div>
        <div class="text-labeled-input">
          <span class="label color_03">パスワード</span>
          <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "input" %>
        </div>
        <button class="dly-button-root action-button primary color_01">
          <%= f.submit "管理者ログイン", class: "dly-button-content bg_color02" %>
        </button>
      </div>
    <% end %>
  </div>
</div>