<style>
#form h1 {
  font-size: 24px;
  font-weight: bold;
}
#form h1 small {
  font-size: 8px;
}
#form h2 {
  font-size: 20px;
}
#form h2 small {
  font-size: 8px;
}
#form .button {
  margin: 20px auto 0;
  display: block;
  width: 200px;
  background-color: #8888bb;
  line-height: 44px;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  appearance: none;
  border: none;
  color: #fff;
}
#form input[type="text"] {
  width: 80%;
  border-radius: 4px;
  line-height: 32px;
  border: 1px solid #ccc;
  padding: 0 15px;
}
</style>

<div id="form">
  <div class="container">
    <div class="page-header">
      <h1>収納術を投稿する
      <small>あなたの工夫やアイデアを収納術として記録しよう</small></h1>
    </div>
    <%= form_for @post, url: {action: 'form2'} do |f| %>
      <h2>レシピのタイトル<small>※必須</small></h2>
      <%= f.text_field :post_name, id: :post_post_name, "onkeyup" => "CountDownLength('cdlength1', value, 20);", maxlength: 20, placeholder: "例）水回りの収納術" %>
      <p id="cdlength1">あと20文字</p>
      <%= f.submit "材料・作り方の入力に進む", class: "button" %>
    <% end %>
  </div>
</div>