<div class="nested-fields">
	<li class="step-image">
		<h3 class="headline-title">画像</h3>
		<%= f.attachment_field :step_image, class: "upimage1" %>
	</li>
	<li class="step-description">
		<%= f.text_field :step_explanation, placeholder: "説明文を入力して下さい" %>
		<%= link_to_remove_association "削除", f %>
	</li>
</div>