// CSSのリセット

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
img {
	vertical-align: bottom;
}

//コンテント
body {
	color: #262626;
	font-family: Helvetica,HiraKakuProN-W3,'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
html {
	font-weight: 400;
}
.bg_color01 {background-color: rgb(0, 122, 86);color: #FFF;}
.bg_color03 {background-color: #f5f5f5;}

.text_center {
	text-align: center;
}

.main {
	margin-top: 51px;
}

#breadcrumb {
	width: 100%;
	border-bottom: 1px solid #cfcfcf;
}

.breadcrumb-inner {
	width: 1008px;
	margin: 0 auto;
	padding: 12px 0;
}

.breadcrumb-inner:empty {
	display: none;
}

.breadcrumb-inner a, .breadcrumb-inner span {
	display: inline-block;
	color: #5e5e5e;
	font-size: 13px;
	line-height: 1.5;
	padding: 0 20px 0 8px;
	text-decoration: none;
}

.breadcrumb-inner a:hover {
	background: none;
	color: #5e5e5e;
} 

.wrapper {
	position: relative;
	z-index: 0;
	width: 100%;
	margin: 0 auto;
}
.container {
	text-align: left;
	width: 970px;
	margin: 0 auto;
	background-color: transparent;
}
#recommend-images-header {
	width: 100%;
	border-bottom: 1px solid #cfcfcf;
	background-color: #f5f5f5;
}
.recommend-images-header-inner {
	width: 1008px;
	margin: 0 auto;
	padding: 32px 0;
}
.image-recommend-list-content {
	float: left;
	width: 320px;
	position: relative;
}
.image-recommend-list-content:nth-child(2) {
	margin: 0 16px;
}
.image-list-img {
	display: block;
	position: relative;
	width: 320px;
}
.image-list-title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 288px;
	height: 50px;
	padding: 0 16px 16px;
	width: 320px;
	background-image: linear-gradient(to bottom, 
		rgba(238,238,238,0), 
		rgba(0,0,0,0.5));
	z-index: 10;
}
.image-list-title p {
	width: 288px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 20px;
	text-shadow: 0 1px 1px #5e5e5e;
	line-height: 24px;
}
#content {
	width: 100%;
	background: #fff;
}
.content-inner {
	padding-top: 40px;
	width: 1008px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 112px;
}
.headline-title {
	margin: 0 24px 12px 0;
	padding: 0 0 8px;
	font-size: 20px;
	font-weight: bold;
}
.header-separator {
	border-bottom: 1px solid rgb(0, 122, 86);
}

#new_post {
	margin-bottom: 40px;
}

.list-content {
	margin-top: 16px;
	width: 208px;
	float: left;
	position: relative;
	float: left;
}
.float-clear {
	clear: both;
}
.list-content img {
	display: block;
	position: relative;
	margin: 0 auto;
}
.list-info {
	text-align: center;
	line-height: 1.3;
}
.list-title {
	margin: 8px 0;
	height: 40px;
}
.list-title p {
	font-size: 16px;
	font-weight: bold;
}

.list-title p a {
	color: #666;
}

.list-title p a:hover {
	background: none;
}

.list-explanation {
	color: #5e5e5e;
	font-size: 13px;
	margin: 8px 0;
	height: 30px;
}
.list-material {
	color: #8e8e8e;
	font-size: 11px;
	margin: 8px 0 0;
	height: 28px;
}
// ヘッダー

header {
	.logo {
		background: url("logo.png") no-repeat top;
		float: left;
		width: 70%;
	}
}


// フッター

footer {
	width: 100%;
	bottom: 0;
	padding: 30px 0 0;
	border-top: 1px solid #cfcfcf;
}

.copy {
	padding: 20px;
	margin-top: 30px;
}

// トップページ

.top{
  background: image-url("top.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
	height: 100%;
	padding-top: 50px;
  position: relative;
	opacity: 0.5;
}

.top h1 {
	text-align: center;
	line-height: 480px;
	text-shadow:2px 5px 3px #000000;
}

.top h1 a {
	text-decoration: none;
	color: white;
}

.top h1 a:hover {
	background: none;
}

// カテゴリ
#categories {
	width: 100%;
	border-top: 1px solid #cfcfcf;
	background-color: #fff;
	padding: 40px 0;
}

#categories_inner {
	width: 1008px;
	margin: 0 auto;
}

#categories_inner h2 {
	font-size: 20px;
	font-weight: bold;
	color: #262626;
	margin-bottom: 40px;
}

.category-block {
	float: left;
	width: 50%;
	padding-right: 48px;
	box-sizing: border-box;
}

.category-block ul li {
	margin-bottom: 16px;
}

.category-block ul li a:hover {
	background: transparent;
}

.category-block ul li a {
	font-size: 18px;
	color: #8e8e8e;
}

.category-block ul li a:focus {
	outline: 0;
}

.to-index-link {
	width: 100%;
	text-align: right;
	font-size: 14px;
}

#storage-site-about {
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #cfcfcf;
}

.storage-site-about-inner {
	width: 1008px;
	margin: 0 auto;
	padding: 32px 0;
}

.storage-site-about-inner h3 {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 8px;
}

.storage-site-about-inner .body {
	font-size: 13px;
	line-height: 1.5;
	margin-bottom: 24px;
}

// フラッシュ
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(0, 122, 86);
  text-align: center;
  position: relative;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

// 検索ボックス
.search {
	width: 100%;
	height: 72px;
	background-color: #f5f5f5;
	position: relative;
	padding-top: 32px;
	text-align: center;
}


.search .button {
  margin-left: 30px;
  display: inline-block;
  width: 60px;
  font-size: 14px;
  border-radius: 6px;
  appearance: none;
  border: none;
  color: #fff;
  height: 40px;
}
.search input[type="text"] {
  width: 320px;
  border-radius: 4px;
  line-height: 32px;
  border: 1px solid #ccc;
  padding: 0 15px;
  height: 40px;
}
.search input[type="text"]:focus {
	outline: 0;
}