// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index.html

  .top {
    position: relative;
    opacity: 0.5;
    height: 100%;
  }
  .top img {
    width: 100%;
    height: 100%;
  }
  .top .txtbox {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .top .txtbox .txt {
    margin-bottom: 40px;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 1;
    text-shadow: 2px 5px 3px #000000;
  }
  .top .txtbox .enter {
    padding: 0 32px 0 32px;
    border: 1px solid hsla(0, 0%, 100%, .7);
    border-radius: 22px;
    display: table;
    margin: 0 auto;
    color: inherit;
    font-size: .75em;
  }
  .top .txtbox .enter:hover {
    text-decoration: none;
  }
  .top .txtbox .enter .entertxt {
    line-height: 43px;
    font-size: 3em;
  }
  