@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sd-only {
    display: block;
  }
  body {
    width: 100%;
    background: #f1f1f2;
    color: #262626;
    line-height: 1em;
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  a:hover {
    text-decoration: none !important;
  }
  ol, ul {
    list-style: none;
  }
	.main {
    margin-top: 52px;
  }

  // menubar
  #menubar {
    display: block !important;
    background-color: #fff;
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f2;
  }
  #menubar ul {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap;
    height: 130%;
  }
  #menubar ul li {
    display: inline-block;
    line-height: 40px;
  }
  #menubar ul li a {
    display: block;
    padding: 0 12px;
    font-size: 14px;
  }
  #breadcrumb {
    overflow: hidden;
  }
  .breadcrumb-inner {
    width: 100%;
    padding: 0;
  }
  .breadcrumb-inner a, .breadcrumb-inner span {
    font-size: 14px;
    line-height: 3;
  }
  .breadcrumb-inner .breadcrumbs {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .wrapper {
    width: 100%;
    margin: 0 auto;
    z-index: 0;
  }
  h2.headline-title {
    width: 100% !important;
    height: 42px !important;
    padding: 16px 0 8px !important;
    font-size: 18px !important;
  }


  // home/index.html


  .top .txtbox {
    top: 30%;
  }
  .top .txtbox .txt-sd {
    margin-bottom: 40px;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 1;
    text-shadow: 2px 5px 3px #000000;
  }
  .top .txtbox .enter {
    width: 100%;
    border: 1px solid hsla(0, 0%, 100%, 1);
    background-color: hsla(0, 0%, 100%, 0.4)
  }


  // posts/index.html


	.search {
    height: 40px;
		padding-top: 0;
	}
	.search .button {
    margin: 0;
    display: inline-block;
    width: 10%;
    font-size: 14px;
    border-radius: 6px;
    appearance: none;
    border: none;
    color: #fff;
    height: 40px;
  }
  .search input[type="text"] {
    width: 80%;
    border-radius: 4px;
    line-height: 32px;
    border: 1px solid #ccc;
    padding: 0 15px;
    height: 40px;
  }
  #recommend-images-header {
    display: none;
  }
  #content {
    width: 100%;
    background: #fff;
  }
  #content h2 {
    background: #fff;
    height: 43px;
    padding: 4px 16px !important;
    line-height: 33px;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    overflow: hidden;
    margin: 0 !important;
    font-size: 14px !important;
  }
  .content-inner {
    padding: 0;
    width: 100%;
  }
  #new_post {
    margin: 0;
  }
  .list {
    background: #fff;
    border-bottom: 1px solid #cfcfcf;
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }
  .list-content {
    width: calc(100% / 2 - 2px);
    height: auto;
    margin: 0 2px 2px 0;
    position: relative;
    font-size: 0;
    line-height: 0;
  }
  .list .list-content .post-link {
    height: 187px;
    background: #fff;
    display: block;
    position: relative;
    width: 100%;
    min-height: 50px;
  }
  .list .list-content .post-link img {
    width: 100%;
    height: 100%;
  }
  .list .list-content .list-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    background-image: linear-gradient(to bottom, 
      rgba(238,238,238,0), 
      rgba(0,0,0,0.5));
    z-index: 10;
  }
  .list .list-content .list-title p {
    padding: 0 8px 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    text-shadow: 0 1px 1px #5e5e5e;
    line-height: 1.4;
  }

  // categories
  #categories {
    width: 100%;
    background: #fff;
    padding: 0;
  }
  #categories h2 {
    background: #fff;
    height: 43px;
    padding: 4px 16px !important;
    line-height: 33px;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    overflow: hidden;
    margin: 0 !important;
    font-size: 14px !important;
  }
  .category-inner {
    padding: 0;
    width: 100%;
  }
  .category-block {
    padding-top: 16px;
  }
  .category-block ul li a {
    font-size: 14px;
  }

  // about
  #storage-site-about {
    width: 100%;
    background: #fff;
    padding: 0;
  }
  .storage-site-about-inner {
    padding: 0;
    width: 100%;
  }


  // posts/show.html


  .content {
    width: 100%;
    background: #fff;
  }
  #images_show {
    background: #f1f1f2;
  }
  #images_show .image-content {
    position: relative;
  }
  #images_show .image-content img {
    width: 100%;
    height: auto;
  }
  #images_show .content .explanation {
    width: auto;
  }
  #images_show .content .material {
    margin: 0;
  }
  #images_show .content .total_price {
    margin: 0;
  }
  #images_show .content .steps {
    margin: 0;
  }
  #images_show .content .tips {
    margin: 0;
  }
  #images_show .content .reasons {
    margin: 0;
  }
  #images_show .content .comments {
    margin: 0;
  }
  #images_show .form {
    width: 100%;
  }
  .material ul li .material-title {
    width: 58%;
  }
  #social_buttons {
    right: 10px;
    left: auto;
  }


  // posts/form.html


  #posts_new {
    padding: 0 0 96px;
  }
  #posts_new .page-title {
    width: 100%;
    height: 42px;
    padding: 16px 12px 8px;
    font-size: 18px;
  }
  #posts_new .form {
    width: 100%;
  }
  #posts_new .form .form-group .input {
    padding: 4px;
  }
  #posts_new .form .form-group.main-images-group {
    height: auto;
    margin: 0 0 4px;
    flex-wrap: nowrap;
    padding: 0 12px;
  }
  #posts_new .form .form-group.main-images-group .main-images{
    width: 300px;
    height: auto;
    margin: 8px 0;
  }
  .dly-image-input-root .preview-wrapper {
    width: 300px !important;
    height: 300px !important;
  }
  .dly-image-input-root .preview-wrapper .preview {
    width: 300px !important;
    height: 300px !important;
  }
  #posts_new .form .form-group .text-labeled-input {
    width: 100%;
    margin: 8px 0;
  }
  #posts_new .form .form-group.main-images-group .text-labeled-input.title {
    flex: 0 0 auto;
    height: auto;
  }
  #posts_new .form .form-group.main-images-group .text-labeled-input.title .input {
    font-size: 15px;
    height: auto;
    min-height: 80px;
  }
  #posts_new .form .form-group .text-labeled-input .counter {
    font-size: 13px;
  }

  // explanation
  #posts_new .form .form-group.main-images-group .text-labeled-input.explanation {
    flex: 0 0 auto;
    height: auto;
  }
  #posts_new .form .form-group.main-images-group .text-labeled-input.explanation .input {
    font-size: 14px;
    height: auto;
    min-height: 160px;
  }
  #posts_new .form .form-group.main-images-group .others {
    width: 100%;
    flex-flow: column nowrap;
  }
  #posts_new .form .form-group.main-images-group .others .text-labeled-input {
    width: 100%;
    margin: 8px 0;
  }

  // materials
  #posts_new .form .form-group.materials-group {
    width: 100%;
    padding-left: 12px;
    margin: 8px 0;
  }

  // steps
  #posts_new .form .form-group.steps-group {
    width: 100%;
    padding-left: 12px;
    margin: 8px 0;
  }
  .steps-input-root .steps-input-item-root {
    margin: 0 0 16px;
  }
  .steps-input-root .steps-input-item-root .picture {
    margin: 0;
  }
  .sort-order {
    width: 25px;
    font-size: 11px;
    margin-left: 8px;
  }
  .steps-input-item-root .body .input {
    font-size: 12px;
    padding: 4px
  }

  // tips
  #posts_new .form .form-group.tips-group {
    padding: 0 12px;
    margin: 8px 0;
  }
  #posts_new .form .form-group.tips-group .text-labeled-input .input {
    font-size: 14px;
    height: 200px;
  }

  // reasons
  #posts_new .form .form-group.reasons-group {
    padding: 0 12px;
    margin: 8px 0;
  }
  #posts_new .form .form-group.reasons-group .text-labeled-input .input {
    font-size: 14px;
    height: 200px;
  }

  // submit
  #posts_new .form .form-group.agreement-group {
    font-size: 12px;
    padding: 32px 0;
  }    


  // users/show.html


  #account {
    min-width: 0px;
  }
  #account .section.nav-tab-button {
    top: 52px;
  }
  #account .section.nav-tab-button .nav-tab-button-inner {
    width: 100%;
  }

  // favorites
  #account .favorites-root .scrollable .favorite-no-items {
    width: 100vw;
    padding: 16px 8px 24px;
  }
  #account .favorites-root .scrollable .favorite-items {
    width: 100vw;
    padding: 16px 8px 24px;
  }
  #account .favorites-root .scrollable .favorite-items .favorite-link {
    width: calc(50vw - 12px);
    height: calc(50vw + 44px);
    margin: 0.4px;
  }
  #account .favorites-root .scrollable .favorite-items .favorite-link .thumbnail-wrapper {
    width: calc(50vw - 12px);
    height: calc(50vw - 12px);
  }
  #account .favorites-root .scrollable .favorite-items .favorite-link .thumbnail-wrapper .thumbnail {
    width: calc(50vw - 12px);
    height: calc(50vw - 12px);
    border: none;
  }
  #account .favorites-root .scrollable .favorite-items .favorite-link .title {
    font-size: 12px;
    line-height: 16px;
  }

  // follows
  #account .follows-root .scrollable .follow-no-users {
    width: 100vw;
    padding: 16px 8px 24px;
  }
  #account .follows-root .scrollable .follow-users {
    width: 100vw;
    padding: 16px 8px 24px;
  }

  // posts
  #account .posts-root .scrollable .post-no-items {
    width: 100vw;
    padding: 16px 8px 24px;
  }
  #account .posts-root .scrollable .post-items {
    width: 100vw;
    padding: 16px 8px 24px;
  }
  #account .posts-root .scrollable .post-items .post-link {
    width: calc(50vw - 12px);
    height: calc(50vw + 44px);
    margin: 0.4px;
  }
  #account .posts-root .scrollable .post-items .post-link .thumbnail-wrapper {
    width: calc(50vw - 12px);
    height: calc(50vw - 12px);
  }
  #account .posts-root .scrollable .post-items .post-link .thumbnail-wrapper .thumbnail {
    width: calc(50vw - 12px);
    height: calc(50vw - 12px);
    border: none;
  }
  #account .posts-root .scrollable .post-items .post-link .title {
    font-size: 12px;
    line-height: 16px;
  }


  // users/registrations_new.html


  #registrations_new .registration-new-inner {
    width: 100vw !important;
    padding: 0 !important;
  }
  #registrations_new .registration-new-inner .page-title {
    width: 100%;
    height: 42px;
    padding: 16px 12px 8px !important;
    margin: 0 !important;
    font-size: 18px !important;
  }


  // users/registrations_edit.html



  #registrations_edit .registration-edit-inner {
    width: 100vw !important;
    padding: 0 !important;
  }
  #registrations_edit .registration-edit-inner .page-title {
    width: 100%;
    height: 42px;
    padding: 16px 12px 8px !important;
    margin: 0 !important;
    font-size: 18px !important;
  }


  // users/sessions_new.html


  #sessions_new .session-new-inner {
    width: 100vw !important;
    padding: 0 !important;
  }
  #sessions_new .session-new-inner .page-title {
    width: 100%;
    height: 42px;
    padding: 16px 12px 8px !important;
    margin: 0 !important;
    font-size: 18px !important;
  }


  // users/index.html


  .users-index {
    width: 100vw !important;
    padding: 16px 8px 24px !important;
  }
  .users-index .users .delete-button .button {
    width: auto !important;
    padding: 0 30px;
  }


  // users/show.html


  #account .section.user-profiles .user-profiles-inner {
    width: 100%;
    align-items: center;
  }
}